.header {
  background: url("../images/header.jpeg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

.footer {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-color: white;
  background-color: #406792;
}

.student-image {
  background-size: cover;
  background-position: center;
  height: 100px;
}

.textbook-image {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
}

.navbar {
  border-radius: 0px; 
  background-color: #558C89;
}

.well {
  text-align: center;
  background-color: #6C8CD5;
  padding: 40px;
}

h1 {
  margin: 0;
}

p {
  margin-top: 10px;
  color: white;
}

body {
  background-color: #ECECEA;
}