@(message: String)

@Main("Home") {

  <div class="section-body">
    <a name="about"></a>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <h1>Students</h1>
            <p>Create, update and delete students here.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h1>Buy Orders</h1>
            <p>Create, update and delete buy orders here.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h1>Matches</h1>
            <p>View Buy Order and Sell Order matches here.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="well">
            <h1>Text Books</h1>
            <p></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h1>Sell Orders</h1>
            <p>Create, update and delete sell orders here.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <h1>Help</h1>
            <p></p>
          </div>
        </div>
      </div>

    </div> <!-- End Container -->
    
  </div> <!-- End Section 2 -->
  

}
