@(message: String, offerForm: Form[views.formdata.SellOfferFormData])

@import helper._
@import bootstrap3._

@Main(message) {
<div class="container">
<h1>Sell Offer</h1>
  @form(routes.Application.postSellOffer(), 'class -> "form-horizontal") {
    
    <!-- id -->
    @hidden(offerForm("id"))
    
    @text(offerForm("isbn"),
          label = "ISBN",
          placeholder = "",
          help = "Textbook ISBN.")
    
    <!-- Name -->
    @text(offerForm("offer"),
          label="Offer $",
          placeholder="", 
          help="The Bid Offer Must be a Whole Number.")
          
          
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sell</button>
      </div>
    </div>
  }
</div>
}