@(message: String, offerForm: Form[views.formdata.BuyOfferFormData], emailMap: Map[String, Boolean])

@import helper._
@import bootstrap3._

@Main(message) {
<div class="container">
<h1>Buy Offer</h1>
  @form(routes.Application.postBuyOffer(), 'class -> "form-horizontal") {
    
    <!-- id -->
    @hidden(offerForm("id"))
    

    <!-- Student Email -->
    @bootstrap3.select(offerForm("buyerEmail"),
                       label = "Buyer Email", 
                       optionMap = emailMap,
                       isMultiple = false,
                       help = "Select the buyers email address.")
    
    
    @text(offerForm("isbn"),
          label = "ISBN",
          placeholder = "",
          help = "Textbook ISBN.")
    
    <!-- Name -->
    @text(offerForm("offer"),
          label="Offer $",
          placeholder="", 
          help="The Bid Offer Must be a Whole Number.")
          
          
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Bid</button>
      </div>
    </div>
  }
</div>
}