@(message: String, 
  textbookForm: Form[views.formdata.TextbookFormData],
  conditionTypes: List[String])

@import helper._
@import bootstrap3._

@Main(message) {
<div class="container">

  @form(routes.Application.postTextbook(), 'class -> "form-horizontal") {
    
    <!-- id -->
    @hidden(textbookForm("id"))
    
    <!-- ISBN -->
    @text(textbookForm("isbn"),
          label="ISBN-10",
          placeholder="0316769533", 
          help="The 10 digit ISBN of the textbook.")
          
    <!-- Title -->
    @text(textbookForm("title"),
          label="Title",
          placeholder="The Catcher in the Rye",
          help="The title of the book.")
          
    <!-- Author -->
    @text(textbookForm("author"),
          label="Author",
          placeholder="J. D. Salinger",
          help="The author of the book.")    
    
    <!-- Condition -->
    @radiobuttons(textbookForm("condition"),
                  label="Condition",
                  buttonNameList=conditionTypes,
                  help="Select the condition of the textbook.")
    
    <!-- Cover Url -->
    @text(textbookForm("coverUrl"),
          label="Cover URL",
          placeholder="http://www.image.com",
          help="The url to an image of the cover of this textbook. We will attempt to pull an "
             + "image from Amazon but if unsuccessful, you can always enter your own.")    
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  }
</div>
}
