@(message: String,
  offerForm: Form[views.formdata.SellOfferFormData],
  emailMap: Map[String, Boolean],
  titleMap: Map[String, Boolean])

@import helper._
@import bootstrap3._

@Main(message) {
<div class="container">
<h1>Sell Offer</h1>
  @form(routes.Application.postSellOffer(), 'class -> "form-horizontal") {
    
    <!-- id -->
    @hidden(offerForm("id"))

    <!-- Student Email -->
    @bootstrap3.select(offerForm("sellerEmail"),
                       label = "Seller Email", 
                       optionMap = emailMap,
                       isMultiple = false,
                       help = "Select the sellers email address.")

    <!-- Textbook Titles -->
    @bootstrap3.select(offerForm("title"),
                       label = "Textbook Title", 
                       optionMap = titleMap,
                       isMultiple = false,
                       help = "Select the Textbook.")
    
    <!-- Name -->
    @text(offerForm("offer"),
          label="Offer $",
          placeholder="", 
          help="The Sell Offer Must be a Whole Number.")
          
          
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sell</button>
      </div>
    </div>
  }
</div>
}