@(textbooks: List[Textbook])

@Main("ShowTextbooks") {
   <div class="container">
     <h1>Current Textbooks</h1>
     <table class="table table-striped table-bordered panel panel-info">
       <tr>
         <th>Cover</th>
         <th>ISBN</th>
         <th>Title</th>
         <th>Author</th>
         <th>Condition</th>
       </tr>
       @for(textbook <- textbooks) {
       <tr>
         <td>
           <div class="textbook-image" 
                style="background-image: url('@textbook.getCoverUrl()');">
           </div>
         </td>
         <td>@textbook.getIsbn()</td>
         <td>@textbook.getTitle()</td>
         <td>@textbook.getAuthor()</td>
         <td>@textbook.getCondition()</td>
         <td><a href="@routes.Application.manageTextbook(textbook.getId())" class="btn btn-warning btn-xs">Edit</a></td>
         <td><a href="@routes.Application.deleteTextbook(textbook.getId())" class="btn btn-danger btn-xs">Delete</a></td>         
       </tr>
      }
     </table>
   </div>
}
