@(offers: List[BuyOffer])

@Main("showBuyOffers") {
   <div class="container">
     <h1>Current Buy Offers</h1>
     <table class="table table-striped table-bordered">
       <tr>
         <th>ISBN</th>
         <th>Offer</th>
         <th>Expires</th>
       </tr>
       @for(offer <- offers) {
       <tr>
         <td>@offer.getIsbn()</td>
         <td>@offer.getOffer()</td>
         <td>@offer.getExpiration()</td>
         <td><a href="@routes.Application.manageBuyOffer(offer.getId())" class="btn btn-warning btn-xs">Edit</a></td>
         <td><a href="@routes.Application.deleteBuyOffer(offer.getId())" class="btn btn-danger btn-xs">Delete</a></td>         
       </tr>
      }
     </table>
   </div>
}
